.container{
background-color: blue;

width: 400;

height: 200px;
margin: 10px

Padding : 10px


}


.card{
    background-color: aqua;
width: 400px;

height: 200px;
    border: 4px solid red;
    box-shadow: 10px 10px 5px lightblue;

}



.card2{
background-color: blueviolet;
width: 400px;
height: 500px;
}

